@font-face {
    font-family: gotbook;
    src: url('../font/gotbook.woff');
}
@font-face {
    font-family: gotmed;
    src: url('../font/gotmed.woff');
}
@font-face {
    font-family: os;
    src: url('../font/os.woff');
}

.navbar-default{
    background: transparent !important;
    border: none !important;
    height: 12vh !important;
}

.navbar-collapse{
    min-height: 78px;
}

.navbar-header{
    min-height: 14vh !important;
}

.logo{
    height: 9vh;
}

#section0{
    /*background: url("../images/section1/bg1.jpg") no-repeat center center fixed;*/
    background: url("../images/section0/bg1.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default .navbar-nav>li>a{
    font-family: gotmed;
    color: white;
    font-size: 3vh;
    margin-top: 3vh;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #f37f20 !important;
}

li.active-custom{
    color: #f37f20 !important;
}

.sectionOneHeader{
    font-family: os;
    font-size: 8vh !important;
    text-transform: uppercase;
    color: #f37f20;
}

.sectionOneContent{
    font-family: gotbook;
    font-size: 3.7vh !important;
    color: #fff;
}

p{
    color: #fff;
}

.hiw{
    background: #f37f20;
    font-family: os;
    font-size: 4vh !important;
    color: #000;
}

/*section 1*/
#section1{
    /*background: url("../images/section1/bg1.jpg") no-repeat center center fixed;*/
    background: url("../images/section1/bg2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sectionTwoContent{
    font-family: gotbook;
    font-size: 3vh !important;
    color: #fff;
}

.sectionTwoSubHeaders{
    font-family: os;
    text-transform: uppercase;
    color: #fff;
}

.sectionTwoSubContent{
    font-family: gotbook;
}

.sectionTwoSideBorder{
    border-right: thick solid #868686;
}
/*section 1*/

/*section 2*/
#section2{
    /*background: url("../images/section2/bg3.jpg") no-repeat center center fixed;*/
    background: url("../images/section2/bg3.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.imgSection2{
    height: 18vh;
}
/*section 2*/

/*section 3*/
#section3{
    /*background: url("../images/section2/bg3.jpg") no-repeat center center fixed;*/
    background: url("../images/section3/bg4.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sectionThreeContent{
    font-family: gotbook;
    font-size: 4vh !important;
    color: #fff;
}

.contactD{
    padding: 50px 0;
}

.sectionThreeSideBorder{
    border-right: thick solid #fff;
}
/*section 3*/


